<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <body>
        <!-- Include header -->
        <%- include('partials/header') %>

        <!-- Include banner -->
        <%- include('partials/banner') %>

        <!-- Main content -->
        <div class="container">
            <%- body %>
        </div>

        <!-- Include footer -->
        <%- include('partials/footer') %>
    </body>
</html>


